
.recommended-friends{
    margin: var(--vertical-space) 0px;
    padding: var(--vertical-space) 0px;
    border-top: var(--border-color);
    border-bottom: var(--border-color);
}
.recommended-friends__title{
    color: var(--gray-color);
    font-weight: 600;
}

.recommended-friends__content{
    display: flex;
    color: var(--gray-color);
    font-size: 18px;
    font-weight: 600;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.open-chat__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:var(--gray-color);
    font-weight: 400;
}
.open-chat__header span{
    font-size: 17px;
    font-weight: 600;
}

.open-chat__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--vertical-space) 0px;
    border-bottom: var(--border-color);
    cursor: pointer;
}

.open-chat__content:last-child {
    border-bottom: none;
}

.open-chat__column {
    position: relative;
}

.open-chat__title{
    font-size: 25px;
    font-weight: 600;
}

.open-chat__tags{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 17px;
    font-weight: 500;
    color: var(--gray-color);
}

.open-chat__informations img {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: var(--gray-color);
    object-fit: cover;
}

.open-chat__informations {
    display: flex;
    align-items: center;
    color: var(--gray-color);
    font-weight: 500;
}
.open-chat__followers {
    display: inline-block;
    padding: 0px 3px;
}
.open-chat__status {
    color: hotpink;
}

.open-chat__main-picture {
    width: 120px;
    height: 120px;
    border-radius: 10%;
    object-fit: cover;
}

