.friends-display__link {
  display: block;
  text-align: center;
  background-color: #fafafa;
  padding: 15px 0px;
  font-weight: 600;
  margin-bottom: 10px;
}

.friends-display__link i {
  color: rgba(0, 0, 0, 0.2);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: var(--vertical-space);
  border-top: var(--border-color);
  padding-top: 10px;
}

.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  color: var(--gray-color);
}
