.settings-screen{
    margin-top: 80px;
}

.setting__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--vertical-space) 0px;
    border-bottom: var(--border-deep-gray-color);
}

.setting__row:last-child {
    border-bottom: none;
}

.setting__column {
    font-size: 23px;
}

.setting__column i {
    color: var(--i-tag-color);
    width: 25px;
    height: 25px;
}

.setting__title {
    text-transform: capitalize;
    font-weight: 600;
    margin-left: 10px;
}

.setting__status {
    font-size: 20px;
    color: var(--gray-color);
    text-transform: capitalize;
}

.setting__division {
    border-top: var(--border-color);
    margin: var(--vertical-space) var(--horizontal-space-none);
}
