.badge{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  color: white;
  background-color: tomato;
  border-radius: 50%;
  font-weight: 600;
}

.badge__notification-header {
  display: flex;
  width: 5px;
  height: 5px;
  background-color: tomato;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
}

.badge__notification-chat {
  position: absolute;
  right: -10px;
  top: -15px;
}


.badge__notification-ellipsis {
  display: flex;
  width: 5px;
  height: 5px;
  background-color: tomato;
  border-radius: 50%;
  position: absolute;
  right: -5px;
}

.badge__like {
  font-size: 13px;
  position: absolute;
  right: 5px;
  bottom: 7px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 20px;
  padding: 5px;
}


.badge__like span {
  margin-left: 3px;
}

.badge__icon-row {
  display: flex;
  width: 5px;
  height: 5px;
  background-color: tomato;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: 20px;
}

@keyframes heartBeat {
  0%{
    transform: none;
  }
  50%{
    transform: scale(2);
    color: hotpink;
  }
  100%{
    transform: none;
  }
}
.badge__like:hover i {
  will-change: transform;
  animation: heartBeat 0.5s linear infinite;
}