.icon-row {
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    margin: var(--vertical-space) 0px;
    box-sizing: border-box;
}

.icon-row__icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px 10px 0px;
    color: var(--i-tag-color);
    width: 100px;
    position: relative;
}

.icon-row__icon span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-align: center;
    color: rgba(0,0,0,0.6);
    font-weight: 500;
}

.icon-row__icon img {
    width: 50px;
    height: 50px;
    border-radius: 15%;
    object-fit: cover;
}