.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 15px;
}

.screen-header__title {
  font-size: 30px;
  font-weight: 600;
}

.screen-header__icons {
  display: flex;
}
.screen-header__icons span {
  align-items: center;
  justify-content: center;
  margin-left: 25px;
}
