.tool-box__icons{
    display: flex;
    justify-content: space-between;
}
.tool-box__titles{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tool-box__title{
    width: 80px;
    text-align: center;
}